@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #cb11ab), to(#481173)) no-repeat;
  background: linear-gradient(to right, #cb11ab 0, #481173 100%) no-repeat;
  padding: 20px 0 44px;
  margin-bottom: 20px;
}

.header__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  text-decoration: none;
  max-width: 240px;
  max-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__pic {
  width: 100%;
  height: 100%;
}

.header__search {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search__input {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  -webkit-transition: background .3s ease 0s;
  transition: background .3s ease 0s;
  color: rgba(255, 255, 255, 0.705);
  padding: 16px 120px 16px 44px;
  margin: 0;
  border-radius: 56px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin-left: 20px;
}

.header .search__button {
  position: absolute;
  display: block;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M38.7%2013.5l-.2.3a6%206%200%2010-.6.6l-.6.4%204.7%204.5a1%201%200%20001.3-1.3l-4.6-4.5zM34%2014a4.1%204.1%200%20110-8.3%204.1%204.1%200%20010%208.3z%22%20fill%3D%22%23B6B6B6%22%2F%3E%3Cpath%20d%3D%22M14.7%2013.5l-.2.3a6%206%200%2010-.6.6l-.6.4%204.7%204.5a1%201%200%20001.3-1.3l-4.6-4.5zM10%2014a4.1%204.1%200%20110-8.3%204.1%204.1%200%20010%208.3z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
  max-width: 24px;
  width: 100%;
  max-height: 24px;
  opacity: .5;
  font-size: 0;
  line-height: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 center;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  -webkit-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
  top: 16px;
  left: 58px;
}

.header .basket__button {
  position: relative;
  border: none;
  background: url(data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2224%22%20viewBox%3D%220%200%2027%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.5%201.5C8.5%202.5%206%202.5%204.5%202.5C3%202.5%200.5%202.5%200.5%201.5C0.5%200.5%203%200.5%204.5%200.5C6%200.5%208.5%200.5%208.5%201.5ZM11.8212%2016.119C11.3452%2016.1949%2010.8829%2015.9206%2010.7214%2015.4665L7.48289%206.35812C7.24913%205.70067%207.74355%205.01199%208.44122%205.02324L25.8008%205.30317C26.425%205.31324%2026.8875%205.88644%2026.7654%206.49865L25.4106%2013.2909C25.3288%2013.701%2025.0004%2014.017%2024.5874%2014.0828L11.8212%2016.119ZM13.6523%2021.0331C13.6523%2022.3178%2012.6109%2023.3593%2011.3262%2023.3593C10.0415%2023.3593%209%2022.3178%209%2021.0331C9%2019.7484%2010.0415%2018.707%2011.3262%2018.707C12.6109%2018.707%2013.6523%2019.7484%2013.6523%2021.0331ZM22.957%2023.3593C24.2417%2023.3593%2025.2832%2022.3178%2025.2832%2021.0331C25.2832%2019.7484%2024.2417%2018.707%2022.957%2018.707C21.6723%2018.707%2020.6309%2019.7484%2020.6309%2021.0331C20.6309%2022.3178%2021.6723%2023.3593%2022.957%2023.3593Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center/contain no-repeat;
  display: block;
  width: 27px;
  height: 27px;
  margin: 0 auto;
  padding-bottom: 10px;
  cursor: pointer;
}

.header .basket__text {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
  cursor: pointer;
  -webkit-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
}

.swiper {
  margin-bottom: 30px;
}

.goods {
  max-width: 1400px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.goods__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
}

.goods__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin-bottom: 109px;
  gap: 70px 20px;
}

@media (max-width: 1024px) {
  .goods__container {
    margin-bottom: 78.22px;
  }
}

@media (max-width: 767px) {
  .goods__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 35px;
  }
}

.goods__item {
  position: relative;
}

.goods .item__pic {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.goods .item__name {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

.goods .item__name:hover {
  opacity: 1;
}

.goods .item__name .item__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #481173;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  padding: 10px 11px;
}

@media (max-width: 1024px) {
  .goods .item__name .item__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12.81px;
  }
}

.goods .item__discount {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #cb11ab;
  border-radius: 20px;
  background-color: #fdeef9;
  position: absolute;
  bottom: 25px;
  left: 5px;
  padding: 4px 9px;
}

.goods .item__info {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods .item__info .info__price--now {
  font-size: 18px;
  line-height: 24px;
  margin-right: 10px;
  font-weight: 700;
  color: #000;
}

.goods .item__info .info__price--last {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  text-decoration: line-through;
}

.goods .item__description .description__kind {
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
/*# sourceMappingURL=style.css.map */